/*Custom properties*/
:root {
  --text-size: 16px;
}

/*RESET*/
html {
  box-sizing: border-box;
  font-size: var(--text-size);
}

*
'
*::after, 
*::before{
  box-sizing:inherit;
}

body{
  margin: 0;
  background-color: cyan;
}

h2{
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  color:  white;
}

table{
  border: 2px solid  black;
  align-content: center;
  text-align: center;
}

td{
  border: 2px solid black;
}

th{
  border: 2px solid black;
}

tr{
  border: 2px solid black;
}
